<mat-card>
  <mat-card-content>
    <h1>Regisztráció</h1>
    <div class="error-show" *ngIf="error">{{error}}</div>
    <mat-form-field color="accent">
      <input matInput type="text" name="username" id="username" placeholder="Felhasználónév" #username>
    </mat-form-field>
    <br>
    <mat-form-field color="accent">
      <input matInput type="text" name="lastName" id = "lastName" placeholder="Vezetéknév" #lastName>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput type="text" name="firstName" id = "firstName" placeholder="Keresztnév" #firstName>
    </mat-form-field>
    <br>
    <mat-form-field color="accent">
      <input matInput type="email" name="email" id = "email" placeholder="Email" #email>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput type="password" name="password" id = "password" placeholder="Jelszó" #password>
    </mat-form-field>
    <br>
    <mat-form-field color="accent">
      <input matInput type="text" name="address" id="address"placeholder="Lakhely" #address>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput type="text" name="phoneNumber" "id="phoneNumber" placeholder="Telefonszám" #phoneNumber>
    </mat-form-field>
    <br>

    <button mat-raised-button color="accent"
            (click)="tryToRegister(username.value, lastName.value, firstName.value, email.value, password.value, address.value, phoneNumber.value)">
      Regisztráció
    </button>
  </mat-card-content>
</mat-card>
